<div class="jumbotron container mt-3" id="chat">
  <h3>Chat</h3>
  <div style="margin: 1em 2em" id="chat-box">

  </div>
  <hr>
  <textarea type="text" id="chat-text" class="form-control"></textarea>
  <button class="btn btn-primary" onclick="return sendMessage('{{sessionName.email}}')" id="send-button">Enviar!</button>
</div>