<h5>{{sessionName.name}}</h5>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{sessionName.email}}</h5>
        <p class="card-text">{{sessionName.address}}</p>
      </div>
    </div>
  </div>
</div>